@media (max-width: 1024px) {
  /* ########----- GRID HERO --------#########  */
  .hero-title {
    max-width: min-content;
  }
  .hero-paragraph {
    max-width: none;
    display: inline-block;
  }
  /* .hero-text-box {
    justify-content: baseline;
  } */
  .primary-text {
    padding-top: 4rem;
  }
  .hero-img-box {
    text-align: end;
    align-self: flex-start;
  }

  .featured {
    flex-wrap: wrap;
  }
  .container {
    padding: 30px 1.6rem;
  }

  /* ########----- MOBILE MENU --------#########  */
  .burger {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }
  body {
    overflow-x: hidden;
    position: relative;
  }
  html {
    overflow-x: hidden;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  .nav-header {
    position: absolute;
    right: 0px;
    height: 100vh;
    flex: auto;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 90px;
    padding-left: 32px;
    gap: 2.8rem;
    width: 20rem;
    /* align-items: center; */
    background-color: var(--almost-white);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 999;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .nav-main {
    flex-direction: column;
    gap: 2.8rem;
    /* align-items: ; */
  }
  .nav-sign {
    flex-direction: column;
    gap: 2.8rem;
    /* align-items: center; */
  }
  /* ANIMATION BURGER MENU */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* BLACK LANDSCAPE */
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-img-box {
    grid-row: 1;
    width: 100%;
  }
  .hero-text-box {
    align-items: center;
  }
  .primary-text {
    align-items: center;
    gap: 30px;
  }
  .hero-title {
    font-size: 2.6rem;
    max-width: fit-content;
    text-align: center;
  }
  .hero-paragraph {
    text-align: center;
  }

  .featured {
    justify-content: center;
  }
  .hero-img {
    width: 100%;
    height: 100%;
  }
  .container {
    padding: 0;
  }
}
