* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ## Colors */
  /* ### Neutral */
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  /* FONT */
  --epilogue-font: "Epilogue", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--epilogue-font);
  background-color: var(--almost-white);
  color: var(--medium-gray);
  /* position: relative; */
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 30px 30px;
}
/* ###################  HEADER ########### */
header {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 2.8rem 3rem;
  /* height: 9.6rem; */
}
.nav-header {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.logo-icon {
  /* width: 100%; */
  /* height: 2.2rem; */
  height: 100%;
}
.nav-main,
.nav-sign {
  list-style: none;
  display: flex;
  gap: 3.8rem;
}
.nav-main a:link,
.nav-main a:visited,
.nav-sign a:link,
.nav-sign a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: inherit;
}
.nav-main a:hover,
.nav-main a:active,
.nav-sign a:hover,
.nav-sign a:active
/* .btn-dropdown span:hover */ {
  color: var(--almost-black);
}
/* ######### DROPDOWN MENU */
.btn-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-dropdown span {
  font-size: 1.4rem;
  font-family: var(--epilogue-font);
  color: var(--medium-gray);
}
.arrow-up {
  display: none;
}
.arrow-down {
  width: 12px;
  height: 12px;
  display: inline-block;
  stroke: var(--medium-gray);
  transition: all 0.4s ease;
}
.btn-dropdown:hover .arrow-down,
.btn-dropdown:hover span {
  color: var(--almost-black);
  stroke: var(--almost-black);
}

.dp-container {
  position: relative;
  /* background-color: red; */
}
/* .dp-container li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dp-container li:hover {
  background-color: var(--almost-white);
} */
.dp-menu {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  margin-top: 24px;
  left: -58px;
  padding: 2rem 2.6rem;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.dp-menu-r {
  left: 0px;
  width: max-content;
}

/* .nav-sign {
  margin-left: auto;
} */
.nav-sign .sign {
  font-size: 1.4rem;
  font-family: var(--epilogue-font);
}
.nav-sign .sign--register {
  border: 1px solid var(--medium-gray);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.nav-sign .sign--register:hover,
.nav-sign .sign--register:active {
  border-color: var(--almost-black);
}

/* .dp-container .btn-dropdown:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
} */
.dp-menu-open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
/* ATTEMPT TO KEEP BOTH FONT-SIZE AND ICON BUTTON BOLD */
/* .dp-container .btn-dropdown span + .dp-menu-open,
.dp-container .btn-dropdown .arrow-down + .dp-menu-open {
  color: var(--almost-black);
  stroke: var(--almost-black);
} */
/* .btn-dropdown:focus .arrow-down {
  transform: rotate(180deg);
} */
.arrow-up {
  transform: rotate(180deg);
}

/* ############ -------- MOBILE MENU */
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--almost-black);
  margin: 5px;
  transition: all 0.3s ease;
}

/* BLACK LANDSCAPE */
.menu-overlay {
  /* display: none; */
  position: fixed;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/* ###################  HERO ########### */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  /* gap: 18rem; */
}
.hero-title {
  font-size: 7.6rem;
  color: var(--almost-black);
  max-width: 500px;
  /* margin-bottom: 48px; */
}
.hero-paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 480px;
  /* margin-bottom: 44px; */
}
.btn-hero:link,
.btn-hero:visited {
  width: fit-content;
  padding: 1.8rem 2.6rem;

  border-radius: 16px;
  font-size: 1.8rem;
  color: var(--almost-white);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  background-color: var(--almost-black);
}
.featured {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
}
.primary-text {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  /* padding-bottom: 6rem; */
  /* padding-top: 4rem; */
  padding-bottom: 9rem;
}
.hero-img-box {
  text-align: center;
  align-self: center;
}
.hero-img {
  height: 80%;
  width: 80%;
}
