* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ## Colors */
  /* ### Neutral */
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  /* FONT */
  --epilogue-font: "Epilogue", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--epilogue-font);
  background-color: var(--almost-white);
  color: var(--medium-gray);
}
.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 30px 30px;
}
/* ###################  HEADER ########### */
header {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 3rem 3rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.logo-icon {
  height: 100%;
}
.nav-main,
.nav-sign {
  list-style: none;
  display: flex;
  gap: 3.8rem;
}
.nav-main a:link,
.nav-main a:visited,
.nav-sign a:link,
.nav-sign a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: inherit;
}
.nav-main a:hover,
.nav-main a:active,
.nav-sign a:hover,
.nav-sign a:active {
  color: var(--almost-black);
}

/* ######### DROPDOWN MENU */
.btn-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-dropdown span {
  font-size: 1.4rem;
  font-family: var(--epilogue-font);
  color: var(--medium-gray);
}

.arrow-down,
#arrow-down-l,
#arrow-down-r {
  width: 12px;
  height: 12px;
  display: inline-block;
  stroke: var(--medium-gray);
  transition: all 0.4s ease;
}
.btn-dropdown:hover #arrow-down-l,
.btn-dropdown:hover #arrow-down-r,
.btn-dropdown:hover span {
  color: var(--almost-black);
  stroke: var(--almost-black);
}

.dp-container {
  position: relative;
}

.dp-menu {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  margin-top: 24px;
  left: -58px;
  padding: 2rem 2.6rem;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.dp-menu-r {
  left: 0px;
  width: max-content;
}

.nav-sign .sign {
  font-size: 1.4rem;
  font-family: var(--epilogue-font);
}
.nav-sign .sign--register {
  border: 1px solid var(--medium-gray);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.nav-sign .sign--register:hover,
.nav-sign .sign--register:active {
  border-color: var(--almost-black);
}

.dp-menu-open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.arrow-up {
  transform: rotate(180deg);
}

/* ############ -------- MOBILE MENU */
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--almost-black);
  margin: 5px;
  transition: all 0.3s ease;
}

/* BLACK LANDSCAPE */
.menu-overlay {
  position: fixed;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/* ###################  HERO ########### */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-title {
  font-size: 7.6rem;
  color: var(--almost-black);
  max-width: 500px;
}
.hero-paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 480px;
}
.btn-hero:link,
.btn-hero:visited {
  width: fit-content;
  padding: 1.8rem 2.6rem;
  border-radius: 16px;
  font-size: 1.8rem;
  color: var(--almost-white);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  background-color: var(--almost-black);
}

.featured {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
}

.primary-text {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  padding-bottom: 9rem;
}

.hero-img-box {
  text-align: end;
  align-self: flex-start;
}

.hero-img {
  height: 85%;
  width: 85%;
}
